<ion-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">bar-positive</h1>
      <button class="button icon ion-plus" ng-click="buttonAction()"></button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item can-swipe="true" ng-click="tableCtrl.click(user.id, user.firstName, user.lastName)" ui-sref="update" ng-repeat="user in tableCtrl.users">
          {{user.firstName}}
          {{user.lastName}}
          <ion-option-button class="button-light icon ion-heart"
          ng-click="tableCtrl.swipe(user.firstName, user.lastName)"
          ></ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>