<ion-view>
  <ion-pane ng-controller="tableController as tableCtrl">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Update</h1>
      <button class="button icon ion-close"
      ng-click="tableCtrl.goBack()"
      ></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="lastName">
        </label>
        <button 
        ng-click = "tableCtrl.update(firstName, lastName)"
        class="button button-full button-positive">
            Update user
        </button>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>